#Annapurna{
    font-size: 20px;
}
/* Navigation Section */
#navbar{
    flex-direction: column;
}

#logo img{
    height: 70px;
    width: 70px;
}

#logo{
    margin: -5px 20px;
}

#navbar ul li{
    font-size: 1rem;
}
#navbar ul li a{
    padding: 0px 10px;
    padding-bottom: 18px;
}
/* Home Section */
#home{
    padding:0px 40px ;
}

/* #home h1{
    font-size: 20px; 
} */
/* Services Section*/
#services{
    flex-direction: column;
}


/* Client Section */
#clients{
    flex-wrap: wrap;
}
.client-item {
    padding: 10px 20px;
    margin: 20px 20px;
}

#clients img{
    /* margin: 20px 20px; */
    /* padding: 20px 20px; */
    height: 60px;
    width: 60px;
    background-color: black;
}
/* Contact Section */
#contact-box form {
    width: 70%;
}
/* Utility Classes */
/* .h-primary{
    font-size: 20px;
} */

footer{
    font-size: 10px;
}